body{
	width: 1920px;
	height: 777px;
	background: url(../img/bg1.jpg)no-repeat;
	font-size:30px;
}
#option1{
	height:500px;
	width:160px;
	float:left;
	margin-left: 584px;
}
#option2{
		height:500px;
	width:200px;
	float:left;
}
#option5{
	height:50px;
	width:200px;

}